{include file='header.html'}

<div id="content">
	<div class="container">
		<div class="title clearfix">
			<h2>Detail Transaksi Pembelian</h2>
			<div class="title_right cart_list">
				&nbsp;
			</div>
		</div>

		<div class="cart_c">
			<div class="cart_top">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
						<div class="cart_tbl" style="padding:15px;">

							<!-- Main Account //-->
							{$reportMessage}

							<div class="panel panel-default">
								<div class="panel-body">

									<table class="table table-striped">
										<tbody>

											{if $Detail.vStatus == 'hold'}{assign var='Background' value='
											style="background:#FFCCCC;"'}
											{elseif $Detail.vStatus == 'payment_accept'}{assign var='Background' value='
											style="background:#CCFFCC;"'}
											{elseif $Detail.vStatus == 'shipping'}{assign var='Background' value='
											style="background:#99CCCC;"'}
											{elseif $Detail.vStatus == 'payment_check'}{assign var='Background' value='
											style="background:#e6b800;"'}
											{elseif $Detail.vStatus == 'reject'}{assign var='Background' value='
											style="background:#FF0000; color:#FFFFFF;"'}
											{else}{assign var='Background' value=''}{/if}

											<tr>
												<td {$Background}>
													<font size="5"><strong>{$Detail.vStatus|replace:"_":"
															"|capitalize}</strong></font>
												</td>

												<td colspan="2">
													<div class="hidden-xs">
														<a href="javascript:open_window('{$base_url}{$index_page}memberproduk/transaksipembeli?do=print&id={$Detail.id}');"
															title="Print Invoice"><i class="fa fa-print"></i> Print
															Invoice</a>
														{if $Detail.vStatus == 'hold'}<br /><a
															href="{$base_url}{$index_page}order/confirmorder?order={$Detail.vOrder}"
															title="Konfirmasi Pembayaran"><i
																class="fa fa-check-circle"></i>&nbsp;Konfirmasi
															Pembayaran</a>{/if}
														{if $Detail.vStatus == 'shipping'}<br />{/if}
													</div>

													<div class="hidden-sm hidden-md hidden-lg">
														<a href="{$base_url}{$index_page}memberproduk/transaksipembeli?do=print&id={$Detail.id}"
															title="Print Invoice"><i class="fa fa-print fa-2x"></i>
															Invoice</a>
														{if $Detail.vStatus == 'hold'}<br /><a
															href="{$base_url}{$index_page}order/confirmorder?order={$Detail.vOrder}"
															title="Konfirmasi Pembayaran"><i
																class="fa fa-check-circle fa-2x"></i>&nbsp;Konfirmasi</a>{/if}
														{if $Detail.vStatus == 'shipping'}<br />{/if}
													</div>
												</td>
											</tr>

											<tr>
												<td colspan="3" style="text-align:right;">
													<font size="6"><strong>Rp.
															{$Detail.dTotalPayment|number_format}</strong></font>
												</td>
											</tr>

											{if $Detail.tShipping != ''}
											<tr>
												<td colspan="3">
													<b>
														<font color="#000099">Detail Pengiriman</font>
													</b>
													<br />
													{$Detail.tShipping|no_value}
												</td>
											</tr>
											{/if}

											<tr>
												<td>
													<b>
														<font color="#000099">Nomor Order</font>
													</b>
													<br />
													<strong>
														<font size="5">{$Detail.vOrder|no_value}</font>
													</strong>
												</td>
												<td colspan="2">
													<b>
														<font color="#000099">Tanggal Order</font>
													</b>
													<br />
													{$Detail.dOrder|date_format:"%A, %e %B %Y - %H:%I:%S"}
												</td>
											</tr>

											<tr>
												<td colspan="3">

													<b>
														<font color="#009900">Informasi Pembeli</font>
													</b>
													<br />
													<strong>
														<font size="3">{$Detail.vName|no_value}</font>
													</strong><br />
													{$Detail.vAddress|no_value}<br />
													{$Detail.vCity|no_value}, {$Detail.vState|no_value}<br />
													{$Detail.vCountry|no_value} - {$Detail.vZIP|no_value}<br />
													Phone: {$Detail.vPhone|no_value}<br />
													Mobile: {$Detail.vMobile|no_value}<br />
													Email: {$Detail.vEmail|no_value}<br />
												</td>
											</tr>

											<tr>
												<td colspan="3">
													<b>
														<font color="#000099">Detail Order</font>
													</b>
													<br />
													{$Detail.tOrder|no_value}
												</td>
											</tr>

											{if $Detail.tPayment != ''}
											<tr>
												<td colspan="3">
													<b>
														<font color="#000099">Detail Pembayaran</font>
													</b>
													<br />
													{$Detail.tPayment|no_value}
												</td>
											</tr>
											{/if}

										</tbody>
									</table>
								</div>
							</div>

							<!-- //Main Account //-->

						</div>
						{if $list[0].Item.id != '' AND $link != ''}<br />
						<div class="page_c clearfix red5">{$link}</div>{/if}
					</div>
					<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">

						<div class="card-tbl" style="padding:15px;">
							<div class="panel panel-default">
								<div class="panel-body">
									{if $Detail.tShipping != ''}
									<h3>Hello , {$Detail.vName|no_value} </h3>
									<p>Paket anda sedang diproses. berikut detail pengiriman : </p>

									<table class="table table-stripped" style="margin-top:20px;">
										<tr>
											<td>Waybill</td>
											<td>
												{$detailPengiriman->rajaongkir->result->summary->waybill_number}
											</td>
										</tr>
										<tr>
											<td>Status</td>
											<td>
												{if $detailPengiriman->rajaongkir->result->delivered == true}
												<span class="badge badge-success f-green">
													{$detailPengiriman->rajaongkir->result->delivery_status->status}
												</span>
												{else}
												<span class="badge badge-success">
													Proses
												</span>
												{/if}
											</td>
										</tr>
										<tr>
											<td colspan="2" style="font-weight: bold;">Data Pengirim</td>
										</tr>
										<tr>
											<td>
												Pengirim
											</td>
											<td>
												{$detailPengiriman->rajaongkir->result->summary->shipper_name}
											</td>
										</tr>
										<tr>
											<td>Tanggal</td>
											<td>
												{$detailPengiriman->rajaongkir->result->summary->waybill_date}
											</td>
										</tr>
										<tr>
											<td>Kota Pengirim</td>
											<td>
												{$detailPengiriman->rajaongkir->result->details->shipper_city}
											</td>
										</tr>
										<tr>
											<td colspan="2" style="font-weight: bold;">Data Penerima</td>
										</tr>
										<tr>
											<td>
												Penerima
											</td>
											<td>
												{if $detailPengiriman->rajaongkir->result->delivered == true}
												{$detailPengiriman->rajaongkir->result->delivery_status->pod_receiver}
												{else}
												{$detailPengiriman->rajaongkir->result->summary->receiver_name}
												{/if}
											</td>
										</tr>
										{if $detailPengiriman->rajaongkir->result->delivered == true}
										<tr>
											<td>Tanggal</td>
											<td>
												{$detailPengiriman->rajaongkir->result->delivery_status->pod_date}
											</td>
										</tr>
										<tr>
											<td>Waktu</td>
											<td>
												{$detailPengiriman->rajaongkir->result->delivery_status->pod_time}
											</td>
										</tr>
										{/if}
										<tr>
											<td>Kota Penerima</td>
											<td>
												{$detailPengiriman->rajaongkir->result->details->receiver_city}
											</td>
										</tr>


									</table>

									<h3>Tracking barang</h3>
									<table class="table tabled-stripped">
										<thead>
											<tr>
												<th>Deskripsi</th>
												<th>Kota</th>
												<th>Tanggal</th>
												<th>Waktu</th>
											</tr>
										</thead>

										{section name=i loop=$detailPengiriman->rajaongkir->result->manifest step=1}
										<tr>
											<td> {$detailPengiriman->rajaongkir->result->manifest[i]->manifest_description}
											</td>
											<td> {$detailPengiriman->rajaongkir->result->manifest[i]->city_name}</td>
											<td> {$detailPengiriman->rajaongkir->result->manifest[i]->manifest_date}
											</td>
											<td> {$detailPengiriman->rajaongkir->result->manifest[i]->manifest_time}
											</td>
										</tr>
										{/section}
										</tbody>
									</table>



									{else}
										<h3>Belum ada pengiriman paket barang</h3>
									{/if}
								</div>
							</div>
						</div>




					</div>

				</div>


			</div>
		</div>





	</div>
</div>


{include file='footer.html'}